# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
/out/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.tmp
*.swp

# Archivos específicos de compilación
*.class

# Configs de entorno o IDE
*.env
.vscode/

# Git
*.orig
